{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{%block links %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/consent.css' %}">
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js "></script>
{% endblock %}
    
{% block title %}
    <title>Consent Form</title>
{% endblock %}


</head>

<body>
    {% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">            
            <div class="card" style="margin:5rem auto;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="consent-card">                        
                            <h2>Bulk Registration:</h2>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <form action="/getTemplate">                                                                                                
                                        <input type="submit" class="btn btn-primary" value="Download Template">
                                    </form>
                                </div>                                
                                <div class="col-md-6">
                                    <form action="/downloadData">                                                                                                
                                        <input type="submit" class="btn btn-secondary" value="Download Student Data">
                                    </form>
                                </div>                                
                            </div>    
                            <div class="row" style="margin-top:5%">
                                <div>
                                    <form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="file" title="Upload excel file" name="excel_file" style="border: 1px solid black; padding: 5px;" required="required" accept=".xls,.xlsx,.csv">
                                        <input type="submit" class="btn btn-success" value="Upload">
                                    </form>
                                </div>
                            </div>
                        </div>
                                                             
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
    {% endblock %}