{% load static %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Home</title>


    </head>

    <body>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form id="msform" action="" method="POST">
                    {% csrf_token %}
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active">Personal Details</li>
                        <li>Social Profiles</li>
                        <li>Radio</li>
                    </ul>
                    <!-- fieldsets -->
                    <fieldset>
                        <h2 class="fs-title">Personal Details</h2>
                        <h3 class="fs-subtitle">Tell us something more about you</h3>
                        <input type="text" name="name" placeholder="Name of the volunteer" /> {% for key, value in error_messages.items %} {% if key == 'name' %}
                        <p style="color:red">{{value}}</p>
                        {% endif %} {% endfor %}


                        <input type="number" name="age" placeholder="Age" /> {% for key, value in error_messages.items %} {% if key == 'age' %}
                        <p style="color:red">{{value}}</p>
                        {% endif %} {% endfor %}

                        <div class="grid-row"></div>
                        <span>Gender:</span>
                        <label>
                            <input type="radio" value="male" name="gender"> Male
                        </label>
                        <label>
                            <input type="radio" value="female" name="gender"> Female
                        </label> {% for key, value in error_messages.items %} {% if key == 'gender' %}
                        <p style="color:red">{{value}}</p>
                        {% endif %} {% endfor %}
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>


                    <fieldset>
                        <h2 class="fs-title">Social Profiles</h2>
                        <h3 class="fs-subtitle">Your presence on the social network</h3>
                        <input type="number" name="height" placeholder="Height" /> {% for key, value in error_messages.items %} {% if key == 'height' %}
                        <p style="color:red">{{value}}</p>
                        {% endif %} {% endfor %}
                        <input type="number" name="weight" placeholder="Weight" /> {% for key, value in error_messages.items %} {% if key == 'weight' %}
                        <p style="color:red">{{value}}</p>
                        {% endif %} {% endfor %}
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Radio</h2>
                        <h3 class="fs-subtitle">What facilities do you have in your school for play?</h3>
                        <div class="grid-header">
                            <div class="header-item"></div>
                            <div class="header-item">
                                <div>Yes</div>
                            </div>
                            <div class="header-item">No</div>
                        </div>
                        <div class="grid-row">
                            <div class="flex-item">Basketball Court</div>
                            <label class="flex-item">
                            <input type="radio" value="Yes" name="priority"> <span></span>
                        </label>
                            <label class="flex-item">
                            <input type="radio" value="No" name="priority"> <span></span>
                        </label> {% for key, value in error_messages.items %} {% if key == 'priority' %}
                            <p style="color:red">{{value}}</p>
                            {% endif %} {% endfor %}
                        </div>
                        <div class="grid-row">
                            <div class="flex-item">Badminton Court</div>
                            <label class="flex-item">
                            <input type="radio" value="Yes" name="priority1"> <span></span>
                        </label>
                            <label class="flex-item">
                            <input type="radio" value="No" name="priority1"> <span></span>
                        </label> {% for key, value in error_messages.items %} {% if key == 'priority1' %}
                            <p style="color:red">{{value}}</p>
                            {% endif %} {% endfor %}
                        </div>
                        <div class="grid-row">
                            <div class="flex-item">Tennis Court</div>
                            <label class="flex-item">
                            <input type="radio" value="Yes" name="priority2"> <span></span>
                        </label>
                            <label class="flex-item">
                            <input type="radio" value="No" name="priority2"> <span></span>
                        </label> {% for key, value in error_messages.items %} {% if key == 'priority2' %}
                            <p style="color:red">{{value}}</p>
                            {% endif %} {% endfor %}
                        </div>


                        <br>
                        <br>


                        <div class="grid-header">
                            <div class="header-item"></div>
                            <div class="header-item">
                                <div>Cricket</div>
                            </div>
                            <div class="header-item">Basketball</div>
                            <div class="header-item">Tennis</div>
                            <div class="header-item">Badminton</div>
                        </div>
                        <div class="grid-row">
                            <div class="flex-item">choose the sport that you play</div>
                            <label class="flex-item">
                            <input type="checkbox" value="Cricket" name="priority3[]"> <span></span>
                        </label>
                            <label class="flex-item">
                            <input type="checkbox" value="Basketball" name="priority3[]"> <span></span>
                        </label>
                            <label class="flex-item">
                            <input type="checkbox" value="Tennis" name="priority3[]"> <span></span>
                        </label>
                            <label class="flex-item">
                            <input type="checkbox" value="Badminton" name="priority3[]"> <span></span>
                        </label>
                        </div>

                        {% for key, value in error_messages.items %} {% if key == 'priority3' %}
                        <p style="color:red">{{value}}</p>
                        {% endif %} {% endfor %}

                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        <input type="submit" name="submit" class="submit action-button" value="Submit" />
                    </fieldset>
                </form>
            </div>
        </div>

        <script>
            //jQuery time
            var current_fs, next_fs, previous_fs; //fieldsets
            var left, opacity, scale; //fieldset properties which we will animate
            var animating; //flag to prevent quick multi-click glitches

            $(".next").click(function() {
                if (animating) return false;
                animating = true;

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //activate next step on progressbar using the index of next_fs
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({
                    opacity: 0
                }, {
                    step: function(now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale current_fs down to 80%
                        scale = 1 - (1 - now) * 0.2;
                        //2. bring next_fs from the right(50%)
                        left = (now * 50) + "%";
                        //3. increase opacity of next_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({
                            'transform': 'scale(' + scale + ')',
                            'position': 'absolute'
                        });
                        next_fs.css({
                            'left': left,
                            'opacity': opacity
                        });
                    },
                    duration: 800,
                    complete: function() {
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            });

            $(".previous").click(function() {
                if (animating) return false;
                animating = true;

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //de-activate current step on progressbar
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();
                //hide the current fieldset with style
                current_fs.animate({
                    opacity: 0
                }, {
                    step: function(now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale previous_fs from 80% to 100%
                        scale = 0.8 + (1 - now) * 0.2;
                        //2. take current_fs to the right(50%) - from 0%
                        left = ((1 - now) * 50) + "%";
                        //3. increase opacity of previous_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({
                            'left': left
                        });
                        previous_fs.css({
                            'transform': 'scale(' + scale + ')',
                            'opacity': opacity
                        });
                    },
                    duration: 800,
                    complete: function() {
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            });
        </script>
    </body>

    </html>