{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags %}
{% load custom_filters %}

{%block links %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">>
<link rel="stylesheet" href="{% static 'css/consent.css' %}">
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js "></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}

{% block title %}
<title>Module One</title>
{% endblock %}

{% block content %}
<style>
    body{
        font-size: 1.1rem!important;
    }
</style>
<div class="container ml-3">
    <div class="card mt-3" style="padding:1rem 3rem">
        <div class="row">
            <h2 class="mb-3 text-center">Module One</h2>
            <div class="col-md-12">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <p class="fw-bold mb-0">8. {{form.citrus_fruits_blank.label_tag}}</p>
                            {% for radio in form.citrus_fruits_blank %}
                               <div>
                                {{ radio.tag }}
                                <label for="id_citrus_fruits_blank_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                               </div>
                            {% endfor %}
                            {% if form.citrus_fruits_blank.errors %}
                                <div class="alert alert-danger">{{form.citrus_fruits_blank.errors}}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-12 mb-3">
                            <p class="fw-bold mb-0">9. {{form.not_richsource_iron.label_tag}}</p>
                            {% for radio in form.not_richsource_iron %}
                               <div>
                                {{ radio.tag }}
                                <label for="id_not_richsource_iron_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                               </div>
                            {% endfor %}
                            {% if form.not_richsource_iron.errors %}
                                <div class="alert alert-danger">{{form.not_richsource_iron.errors}}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-12 mb-3">
                            <p class="fw-bold mb-0">10. {{form.source_vitaminA.label_tag}}</p>
                            {% for radio in form.source_vitaminA %}
                               <div>
                                {{ radio.tag }}
                                <label for="id_source_vitaminA_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                               </div>
                            {% endfor %}
                            {% if form.source_vitaminA.errors %}
                                <div class="alert alert-danger">{{form.source_vitaminA.errors}}</div>
                            {% endif %}
                        </div>


                     
                        <div class="col-md-12 mb-3 form-group">
                            <p class="fw-bold mb-0">11. {{form.imp_eat_fruits_vegetables.label_tag}}</p>
                            {% for radio in form.imp_eat_fruits_vegetables %}
                               <div>
                                {{ radio.tag }}
                                <label for="id_imp_eat_fruits_vegetables_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                               </div>
                            {% endfor %}
                            {% if form.imp_eat_fruits_vegetables.errors %}
                                <div class="alert alert-danger">{{form.imp_eat_fruits_vegetables.errors}}</div>
                            {% endif %}
                        </div>



                        <div class="col-md-12 mb-3 form-group">
                            <p class="fw-bold mb-0">12. {{form.reason_wide_variety_food.label_tag}}</p>
                            {% for radio in form.reason_wide_variety_food %}
                               <div>
                                {{ radio.tag }}
                                <label for="id_reason_wide_variety_food_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                               </div>
                            {% endfor %}
                            {% if form.reason_wide_variety_food.errors %}
                                <div class="alert alert-danger">{{form.reason_wide_variety_food.errors}}</div>
                            {% endif %}
                        </div>


                        <div class="col-md-12 mb-3">
                            <p class="fw-bold mb-0">13. {{form.microgreen.label_tag}}</p>
                            {% for radio in form.microgreen %}
                               <div>
                                {{ radio.tag }}
                                <label for="id_microgreen_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                               </div>
                            {% endfor %}
                            {% if form.microgreen.errors %}
                                <div class="alert alert-danger">{{form.microgreen.errors}}</div>
                            {% endif %}
                        </div>


                        <div class="col-md-12 mb-3">
                            <p class="fw-bold mb-0">14. {{form.microgreen_example.label_tag}}</p>
                            <div class="row">
                                {% for radio in form.microgreen_example %}
                                <div class="mb-3">
                                    <label for="id_microgreen_example_{{ forloop.counter0 }}">
                                        <img src="{{ radio.choice_label }}" >
                                        <br>
                                        {{ radio.tag }}
                                        {{ radio.choice_label|getValue}}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                            {% if form.microgreen_example.errors %}
                                <div class="alert alert-danger">{{form.microgreen_example.errors}}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-12 mb-3">
                            <p class="fw-bold mb-0">15. {{form.harvestdays_microgreen.label_tag}}</p>
                            {% for radio in form.harvestdays_microgreen %}
                               <div>
                                {{ radio.tag }}
                                <label for="id_harvestdays_microgreen_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                               </div>
                            {% endfor %}
                            {% if form.harvestdays_microgreen.errors %}
                                <div class="alert alert-danger">{{form.harvestdays_microgreen.errors}}</div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/moduleOne" class="btn btn-secondary">Previous</a>
                            </div>
                            <div class="col-md-4 d-flex justify-content-center">
                                <input type="submit" class="btn btn-warning" value="Save draft" formaction="/draft/">
                            </div>
                            <div class="col-md-4 d-flex justify-content-end">
                                <input type="submit" class="btn btn-success" value="Next">
                            </div>                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}