{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags %}

{%block links %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">>
<link rel="stylesheet" href="{% static 'css/consent.css' %}">
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js "></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}

{% block title %}
<title>Module One</title>
{% endblock %}

{% block content %}
<style>
    body{
        font-size: 1.1rem!important;
    }
</style>
<div class="container ml-3">
    
    <div class="card mt-3" style="padding:1rem 3rem">
        <div class="row">
            <h2 class="mb-3 text-center">Module One</h2>
            <div class="col-md-12">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <p class="fw-bold mb-0">1. {{form.nutriGarden.label_tag}}</p>
                            {% for radio in form.nutriGarden %}
                               <div>
                                {{ radio.tag }}
                                <label for="value_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                               </div>
                            {% endfor %}
                        </div>

                        <div class="col-md-12 mb-3">
                            <p class="fw-bold mb-0">2. {{form.source_fruits_vegetables.label_tag}}</p>
                            {% for radio in form.source_fruits_vegetables %}
                               <div>
                                {{ radio.tag }}
                                <label for="value_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                               </div>
                            {% endfor %}
                        </div>

                        <div class="col-md-12 mb-3">
                            <p class="fw-bold mb-0">3. {{form.grow_own_food.label_tag}}</p>
                            {% for radio in form.grow_own_food %}
                               <div>
                                {{ radio.tag }}
                                <label for="value_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                               </div>
                            {% endfor %}
                            {% if form.grow_own_food.errors %}
                                <div class="alert alert-danger">{{form.grow_own_food.errors}}</div>
                            {% endif %}
                        </div>


                        <div class="col-md-12 mb-3">
                            <p class="fw-bold mb-0">4. {{form.if_grow_what.label_tag}}</p>
                            {{form.if_grow_what|as_crispy_field}}
                            
                        </div>



                        <div class="col-md-12 mb-3 form-group">
                            <p class="fw-bold mb-0">5. {{form.reason_gardening.label_tag}}</p>
                            {% for radio in form.reason_gardening %}
                               <div>
                                {{ radio.tag }}
                                <label for="value_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                               </div>
                            {% endfor %}
                        </div>


                        <div class="col-md-12 mb-3">
                            <p class="fw-bold mb-0">6. {{form.healthy_diet.label_tag}}</p>
                            {% for radio in form.healthy_diet %}
                               <div>
                                {{ radio.tag }}
                                <label for="value_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                               </div>
                            {% endfor %}
                        </div>


                        <div class="col-md-12 mb-3">
                            <p class="fw-bold mb-0">7. {{form.imp_nutrients.label_tag}}</p>
                            {% for radio in form.imp_nutrients %}
                               <div>
                                {{ radio.tag }}
                                <label for="value_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                               </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-warning" value="Save draft" formaction="/draft/">
                            </div>
                            <div class="col-md-6 d-flex justify-content-end">
                                <input type="submit" class="btn btn-success" value="Next">
                            </div>                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}