{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{%block links %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/consent.css' %}">
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js "></script>
{% endblock %}
    
{% block title %}
    <title>Teacher Dashboard</title>
{% endblock %}

        
{%block content%}

{% if not open %}
<h5>Form : {{result.0}} &nbsp&nbsp&nbsp&nbsp Start Date: {{result.1}} &nbsp&nbsp&nbsp&nbsp End Date: {{result.2}} &nbsp&nbsp&nbsp&nbsp Type: {{result.3}}</h5>

{% else %}
<h5>Form : {{result.0}} &nbsp&nbsp&nbsp&nbsp Start Date: {{result.1}} &nbsp&nbsp&nbsp&nbsp End Date: Ongoing &nbsp&nbsp&nbsp&nbsp Type: {{result.2}}</h5>

{% endif %}

<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Student Name</th>
      <th scope="col">Submission Time</th>      
    </tr>
  </thead>
  <tbody>
    {% if filled_students%}
    <tr>
      <td class="text-center fw-bold" colspan="2">Students who have filled the Form</td>
    </tr>
    {% endif %}

    {% for student in filled_students %}
    <tr>
      {% for data in student%}
      <td>{{data}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
 
    <tr class="pt-3">
      <td class="text-center fw-bold" colspan="2">Students who have not filled the Form</td>
    </tr>
    
    {% for student in not_filled_students %}
    <tr>
      {% for data in student%}
      <td>{{data}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}