{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{%block links %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/consent.css' %}">
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js "></script>
{% endblock %}
    
{% block title %}
    <title>Teacher Dashboard</title>
{% endblock %}

        
{%block content%}

<h3>Open Forms</h3>
<table class="table">
  <thead>
    <tr>
      
      <th class="text-center" scope="col">Form</th>
      <th class="text-center" scope="col">Start Date</th>
      <th class="text-center" scope="col">Type</th>
      <th class="text-center" scope="col">No. of submissions</th>
      <th class="text-center" scope="col">Total Students</th>
      <th class="text-center" scope="col">View info</th>
    </tr>
  </thead>
  <tbody>

    {% for result in results2 %}
    <tr>
    {% for data in result %}
      {% if not forloop.last %}
      <td class="text-center">{{data}}</td>
      {% endif %}
    {% endfor %}
    
    <td class="text-center"> <a href="{{result.5}}/" class="btn btn-primary"><i class="fa fa-info-circle"></i></a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<h3>Closed Forms</h3>
<table style="width:100vw" class="table table-responsive overflow-auto">
  <thead>
    <tr>
      
      <th class="text-center" scope="col">Form</th>
      <th class="text-center" scope="col">Start Date</th>
      <th class="text-center" scope="col">End Date</th>
      <th class="text-center" scope="col">Type</th>
      <th class="text-center" scope="col">No. of submissions</th>
      <th class="text-center" scope="col">Total Students</th>
      <th class="text-center" scope="col">View info</th>
    </tr>
  </thead>
  <tbody>

    {% for result in results %}
    <tr>
    {% for data in result %}
      {% if not forloop.last %}
      <td class="text-center">{{data}}</td>
      {% endif %}
    {% endfor %}
    
    <td class="text-center"> <a href="{{result.6}}/" class="btn btn-primary"><i class="fa fa-info-circle"></i></a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}